@import "../../../styles/base.scss";

.button {
  display: block;
  text-align: center;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.button--primary {
  background-color: $primary;
  border: 1px solid $primary;
  color: $white;
  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: $secondary;
    color: $white;
    border-color: $secondary;
    cursor: not-allowed;
  }
}
.button--secondary {
  background-color: $secondary;
  border: 1px solid $secondary;
  color: $white;
  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: $secondary;
    color: $white;
    border-color: $secondary;
    cursor: not-allowed;
  }
}
.button--rounded {
  border-radius: 0.3rem;
}
