@import "../styles/base.scss";

.todos__form {
  @include defaultTodos;
  label {
    font-weight: bold;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  input {
    font: inherit;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}

input[type="text"]:focus {
  border-color: $primary;
  outline: none;
  border: 2px solid $primary;
}

.todos__list {
  list-style: none;
  @include defaultTodos;
  li {
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid $primary;
    @include centralize;
  }
}

.todos__list {
  span {
    font-weight: bold;
    color: $primary;
  }
}

.todo__actions {
  @include centralize;
  button {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 730px) {
  button:not(:first-of-type) {
    margin-top: 4px;
  }
  .todo__actions {
    display: flex;
    flex-direction: column;
  }
}
