@import "variables";

@mixin centralize {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin defaultTodos {
  margin: 3rem auto;
  width: 90%;
  max-width: 50rem;
  box-shadow: $shadow-light;
  padding: 1rem;
  border-radius: 6px;
}
